.slideshow-container{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.slideshow-overlay{
background-color: rgba(0,0,0,0.4);
position: absolute;
top: 0;
display: flex;
align-items: center;


p{
    max-width: 800px;
    margin-left: 120px;
    color: rgb(124, 245, 245);
    padding-left: 32px;
    font-size: 80px;
    border-left: 8px solid grey;
    
}
}

.fadeIn{
    animation: fadeInAnnimation 2s ease-in-out;
}

@keyframes fadeInAnnimation {
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.img-slideshow{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    max-width: 100%;
    animation: zoomIn 8s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}